@model IEnumerable<AnotherHotel.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.ActionLink("User Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.middleName)
            </th>
            <th>
                @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UCN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telephoneNumber)
            </th>
            <th>
                @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.userName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.middleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UCN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telephoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hireDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fireDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.active)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.userID">   Edit</a>
                    <a asp-action="Details" asp-route-id="@item.userID">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.userID"> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
