@model IEnumerable<AnotherHotel.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.roomRented)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userRegistrator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateOfAccomodation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateOfLeave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.includedBreakfast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.allInclusive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.priceOwed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.roomRented)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userRegistrator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOfAccomodation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOfLeave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.includedBreakfast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.allInclusive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.priceOwed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.reservationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.reservationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.reservationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
